.shop-container {
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 75% 25%;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 40px;
    margin-top: 10px;
    padding-right: 30px;
}

.question {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.question h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Medium devices (phones, 992px and down) */
@media only screen and (max-width: 992px) {
    a, p {
        font-size: 13px;
    }

    button {
        font-size: 12px;
    }

    h3 {
        font-size: 15px;
    }

    .shop-container {
        max-width: 325px;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    
    .products {
        grid-template-columns: 1fr;
        gap: 10px;
        margin: 20px 0;
        padding-right: 0;
    }

    .question {
        padding: 10px;
    }
}
