.cart {
    position: sticky;
    top: 80px;
    display: grid;
    grid-template-rows: 75% 25%;
    flex-direction: column;
    height: calc(100vh - 80px);
    background-color: #047857;
    color: white;
    padding: 30px 20px;
}

.cart h2 {
    margin-bottom: 20px;
}

.cart h2 {
    margin-bottom: 20px;
}

.choose-btn {
    background-color: #34495e;
    color: #FFF;
    width: 100%;
    padding: 8px 0;
    border: none;
    cursor: pointer;
}

.choose-again {
    background-color: #e74c3c;
    margin: 10px 0;
    color: #FFF;
    width: 100%;
    padding: 8px 0;
    border: none;
    cursor: pointer;
}