.cart {
    display: grid;
    grid-template-rows: 75% 25%;
    flex-direction: column;
    position: sticky;
    top: 100px;
    margin-top: 10px;
    height: calc(100vh - 120px);
    background-color: #FFF;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.cart h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.choose-btn {
    background-color: #34495e;
    color: #FFF;
    width: 100%;
    padding: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.choose-again {
    background-color: #e74c3c;
    margin: 10px 0;
    color: #FFF;
    width: 100%;
    padding: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Medium devices (phones, 992px and down) */
@media only screen and (max-width: 992px) {
    .cart {
        padding: 15px 10px;
    }

    .cart h2 {
        font-size: 18px;
    }
}