a {
    text-decoration: none;
    color: #2c2c2c;
}

.navigation {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    position: sticky;
    top: 10px;
}

nav {
    background-color: #FFF;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

h3 a {
    font-size: 18px;
}

.header {
    display: flex;
    align-items: center;
    gap: 25px;
}

.cart-icon svg {
    cursor: pointer;
}

/* Medium devices (phones, 992px and down) */
@media only screen and (max-width: 992px) {
    .navigation {
        margin-bottom: 10px;
    }

    nav {
        max-width: 325px;
        margin: 0 auto;
        padding: 0 10px;
    }

    .header {
        display: none;
    }
}
