a {
    text-decoration: none;
    color: #2c2c2c;
}

nav {
    max-width: 1300px;
    margin: 0 auto;
    position: sticky;
    top: 0;
    background-color: #f8fafc;
    height: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f0f0f0;
}

h3 a {
    font-size: 18px;
}

.header {
    display: flex;
    gap: 25px;
    align-items: center;
}

.header a {
    transition: 0.3s ease-in-out;
}

.header a:hover {
    color: #047857;
}

.cart-icon svg {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.cart-icon svg:hover {
    color: #047857;
}
