.cart-item {
    background-color: #FFF;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.item-info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
}

.item-info img {
    width: 30px;
}

.remove-btn {
    padding: 15px 15px;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    h2 {
        font-size: 20px;
    }

    .item-info img {
        width: 20px;
    }

    .remove-btn {
        display: none;
    }
}
